#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 35s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marqueeNew {
  display: flex;
  width: max-content;
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
